
/* This is Universal Box Sizing with Inheritance */
*, *:before, *:after {
    box-sizing: inherit;
  }
html {
    box-sizing: border-box;
  }

/* Font family*/
Body{
  font-family: 'Raleway' ,'Montserrat', sans-serif;
}
/***************** Barre de NAVIGATION  ********************/  

/* Conteneur menu du menu de navigation et logo*/
.navbar{
  display: flex;
  justify-content :space-between;
  margin-right: 3%;
  border:solid 6px pink
 }
 /* Repositionement du logo*/
 .navbar img {
  width:100Px;
  height: 60px;
  margin-left: 5%;
 }
/*Apparence liens du menu header*/
a{
  text-decoration: none;
  color: black;
  font-weight: 30px;
}
/*Menu nav header*/
nav ul{
display:flex;
list-style: none;

}

/*Space between the header nav links*/
.hebergementnav{
 
margin-right: 10%;
}

/* mouse over link blue bar at the bottom of the nav menu elements*/
nav a:hover
{border-top:2px solid #0065FC;
  position:relative;
  padding-top:20px; 
}
/*Marge titre formulaire de recherche*/
h1 , .P-header{margin-left: 5%;
}
 /************** FIN BARRE NAVIGATION  ******************/ 


/**************** DEBUT FORMULAIRE RECHERCHE ******************/ 

/*Positionement et marge du formulaire */
form{
  display: flex;
  margin-left: 5%; 
  min-width: none;
}

/*Icon localisation du Formulaire de recherche*/
form i{ 
  
  background:#F2F2F2;
  border-radius: 15px 0px 0px 15px;
  max-width : 60px;
  min-width: none;
  height: 50Px;
  padding-left: 2%;
  padding-top:  1%;
  
}

/*Espace entrée des données du Formulaire de recherche*/
input {
max-height: 50Px;
  max-width  : 220px;
  border:1px solid #F2F2F2;
  font-size: 18px;
  padding-left: 3%;
}

/*Bouton de recherche du Formulaire */
button{
  font-weight: bold;
  color:white;
  border-radius:0px 15px 15px 0px ;
  border-color:transparent;
  background:#0065FC;
  font-size: 16px;
  height: 50Px;
  width: 100px;
}

/**************** FIN DU FORMULAIRE RECHERCHE ******************/ 



/******** FILTRES **********/ 

/* Conteneur Titre filtres et icon */
.filtres{
  display: flex;
  flex-wrap: wrap;
  margin-left:2%;
  margin-top: 1%;
  padding-left:3%;
}

/* Titre filtres */
h2{
  font-weight: bold;
  font-size: 18px;}

/* icones du filtres*/
i.fa-money-bill-wave, i.fa-child-reaching,i.fa-heart,i.fa-dog
{
  border: 15px #DEEBFF  solid;
  color:#0065FC ;
  background:#DEEBFF;
  border-radius: 50%;
}

/* icones du filtres*/
.icon-border{
border:3px solid grey;
border-radius: 70px;
width: 200px;
margin:1%;

}
/* animation des icones, changement de couleur*/
.icon-border:hover{
  background-color:#DEEBFF;
  transition: 0.3s;
}
/******** INFORMATION SOUS FORMULAIRE*******/
/*Icone infos */
i.fa-circle-info
{
  background-color: blue;
  color:white;
  border-radius: 80%;
 
}



/*Indication disponibilité des logements sous Formulaire de recherche */
.sous-form{
  margin-left: 4%;
  margin-top:  1%;


}
/****************** FIN DU FILTRES ET INFORMATION SOUS FORMULAIRE  ********************/


p{font-size: 13px;}

/* Star icons color*/
.blue-color{
  color: #0065FC;
}
.gray-color{
  color:lightgray;
}

/****************** SECTION HÉBÈRGEMENTS********************/ 
#Hébèrgements{
  display:flex;
  flex-direction:row-reverse;
  margin-left: 2%;
   margin-top: 2%
}

/************************ conteneur du block "les plus populaires" ************************/


.block-populaire{
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  margin-left:1%;
  margin-right:2%;
  padding-right:1%;
  padding-left: 3%;
  background-color: #F2F2F2;
  border-radius: 3%;
  
}
/*Paramètre du titre du block populaire*/
.block-populaire h2{

padding:5px;


}
/* Carte populaire*/

.block-populaire a { 
 
  border-radius: 20px;
  margin-right:25%;
  background-color:white;
  height: max-content;
  width:400px;
  height:140px;
  margin:4%;
}

.carte-populaire img {
margin-right: 7px;
padding-top: 2%;
padding-left: 2%;
width:175px;
height:135px; 
border-radius: 20px  10px 10px 20px ; 

}
/* Dimensions Photo carte populaire*/
.carte-populaire p {
  margin-right: 25%;
  flex-direction: column;
  font-size:14px;
  width: 130px;
 
}
  /*parametre carte populaire*/
.carte-populaire{
  display: flex;
  width: 370px;
  height:156px; }

  /* Animation carte populaire*/
.carte-populaire img:hover{
    opacity: 0.3;
  }

.afficher-plus{
  padding-top: 3%;
  padding-left: 2%;
}
/****************************** conteneur du block hébèrgements******************************/
.block-hébèrgements{
  display: flex;
  flex-wrap: wrap;  
  padding-left: 3%;
  margin-right:1%;
  padding-bottom: 3%;
  background-color: #F2F2F2;
  border-radius: 3%;
  width: max-content;
  height: max-content;

}
/* Dimensions des photos du block hébrgements*/

.carte-hébèrgements img {
  width:240px;
  height:120px;
  border-radius:5%;
}
/* Effets overlay carte hébrgements*/
.carte-hébèrgements img:hover{

  opacity: 0.3;
} 
.carte-hébèrgements{
  display: inline-block;
  padding: 1%;
  margin: 1%;
  background-color: white;
  border: white solid;
  border-radius: 7% ;
}





/******************************SECTION ACTIVITES À MARSEILLE******************************/

/* Section activite à Marseille*/
#Activités{
  margin-left: 2%;}

.title-activite
{margin-left: 3%;
 }
/*Conteneur cartes activités à Marseille*/
.block-activites
{
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  
}

/* paramètre photo d'activité à Marseille  1 et 4*/
.carte-activité-xl img{
width:300px;
height:400px;
border-radius:4%;
}

/* Photo d'activités à Marseille 2;3,5,6 */
.carte-activité img

{ 
  display: flex;
  flex-direction:column;
  width:310px;
  height:160px;
  border-radius:5% 5% 0% 0%;
}
/* Carte légende des activitéés à Marseille photo 1 et 4 */
.carte-activité-xl
{
border-radius: 6%;
width:320px;
height:450px;
box-shadow: 1px 2px 2px 1px lightgray;
margin-right: 2%;
}
.carte-activité 
{box-shadow: 1px 3px 2px 1px lightgray;
  border-radius: 6%;}

.small-card-activity{
display: flex;
flex-wrap: wrap;
align-content: space-around;
margin-left: 1%;
}
.carte-activité img:hover{ opacity: 0.2;}

.carte-activité-xl img:hover
{ opacity: 0.8;}
/******************************FOOTER******************************/

footer ul
{
  flex-direction: column;
  list-style: none;
  padding-right: 20%;
  
}

footer
{ display:flex;
  justify-content:space-around ; 
  background-color: #F2F2F2;
  margin-top: 1%;
  font-family:'Roboto', sans-serif;
}
