/* Responsive mobile*/

@media screen and (max-width:768px) {
  
/*Menu nav header*/
.navbar{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  border:solid 6px pink;
  width: 200px;
 }
/* Repositionement du logo*/
.navbar img{

  margin: auto;

}
/*Apparence liens du menu header*/
.navbar ul{
  font-size: 13px;
  justify-content: space-around;
}
/* mouse over link blue bar at the bottom of the nav menu elements*/
nav a:hover
{
  border-top:none;
  border-bottom:2px solid #0065FC;
  position:relative;
  padding-top:40%; 
  justify-content: space-around;

}

/*Titre formulaire de recherche*/
h1{
  flex-wrap: wrap;
 margin: auto;
  font-size: 7px;
  margin-bottom:3%;
  font-weight:bold;

}
/*Sous titre formulaire de recherche*/
.P-header{
  font-size: 6px;
  margin-bottom: 3%;
 
}
/*Icon localisation du Formulaire de recherche*/
form i{
  min-width: 30px;
  padding-left: 2%;
  padding-top: 3%;
  height: 40Px;
}
/*Espace entrée des données du Formulaire de recherche*/
input {
  max-height: 40Px;
  max-width  : 110px;
  border:1px solid #F2F2F2;
  font-size: 18px;
  padding-left: 3%;
  }

  /*Bouton de recherche du Formulaire */
button{
 
  color:white;
  border-radius:7px 7px 7px 7px ;
  border-color:transparent;
  background:#0065FC;
  font-size: 10px;
  max-height: 40Px;
  max-width:30px;
}
.placeholder {
  font-size: 7px;
}
} 

    
    
    /* Responsive tablet*/
    @media screen and (min-width:769px ) and (max-width:991px) {
      h1 {
        color: black;
        font-size: 16px;
    
      }
      
    }
    
    
    /* Responsive tablet*/
    
    @media screen and (min-width:769px ) and (max-width:991px) {
      h1 {
        color: red;
    
      }
      
    }
    
    
    
    /* Responsive desktop */
    @media screen and (min-width:992px) {
      h1 {
        color: green;
    
      }
      
    }
    
    